<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-train-add">
			<input name="rentId"  type="hidden" id="treeId"/>
			<div class="form-group">
				<label class="col-sm-3 control-label">承租项点名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="rentName" onclick="selectRentTree()" readonly="true" id="treeName">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训内容：</label>
				<div class="col-sm-8">
					<input id="trainContent" name="trainContent" class="form-control" type="text" placeholder="请输入培训内容">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训类别：</label>
				<div class="col-sm-8">
						<select id="trainCategory" name="trainCategory" class="form-control m-b" th:with="type=${@dict.getType('sys_contract_payment')}">
							<option th:value="fire">消防</option>
							<option th:value="anti">反恐</option>
							<option th:value="other">其他</option>
						</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训开始时间：</label>
				<div class="col-sm-8">
					<input class="time form-control" id="startTime" name="beginTime" placeholder="请选择开始时间" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训结束时间：</label>
				<div class="col-sm-8">
					<input class="time form-control" id="endTime" name="endTime" placeholder="请选择结束时间" type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/train"
		$("#form-train-add").validate({
			rules:{
                rentName:{
                    required:true,
                },

            },
            submitHandler: function(form) {
                add();
            }
        });

        function add() {
            var trainId= $("input[name='trainId']").val();
            var trainContent = $("input[name='trainContent']").val();
            var beginTime = $("input[name='beginTime']").val();
            var rentName = $("input[name='rentName']").val();
            var endTime = $("input[name='endTime']").val();
            var rentId = $("input[name='rentId']").val();

            $.ajax({
                cache : true,
                type : "POST",
                url : ctx + "system/train/add",
                data : {
                    "trainId": trainId,
                    "trainContent": trainContent,
                    "beginTime": beginTime,
                    "rentName": rentName,
                    "endTime": endTime,
                    "rentId": rentId,
                },
                async : false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    $.operate.saveSuccess(data);
                }
            });
        }

        /*承租项点管理-新增-选择承租项点名称*/
        function selectRentTree() {
            var treeId = $("#treeId").val();
            var rentId = treeId == null || treeId == "" ? "1" : treeId;
            var url = ctx + "system/rent/selectRentTree/" + rentId;
            $.modal.open("选择承租项点名称", url, '380', '380');
        }
	</script>
</body>
</html>
