<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="col-sm-12 select-info">
			<form id="operlog-form">
				<div class="select-list">
					<ul>
						<li>
							<input type="text" placeholder="请输入承租方单位或个人名称" name="rentName"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
						</li>

					</ul>
				</div>
			</form>
		</div>
			
		<div class="col-sm-12 select-info table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:train:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:train:remove')}]];
        var prefix = ctx + "system/rent"
        var prefixcopy = ctx + "system/train"
        $(function() {
            var options = {
                url: prefix + "/list",
                modalName: "安全培训",
                columns: [{
		            checkbox: true
		        },
				{
                    field : 'rentId',
                    title : '序号'
                },
				{
					field : 'rentName',
					title : '承租方单位或个人名称'
				},

				{
					field : 'address',
					title : '具体坐落位置'
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="train(\'' + row.rentId + '\')"><i class="fa fa-edit"></i>安全培训</a> ');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });



        function train(rentId) {
            url = prefixcopy +"/train/"+rentId,
                $.modal.openFull("安全培训"+$.table._option.modalName, url);
        }

    </script>
</body>
</html>