<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="col-sm-12 select-info">
			<form id="operlog-form">
				<div class="select-list">
					<ul>
						<li>
							<input type="text" placeholder="请输入开发项目名称" name="developName"/>
						</li>
						<li>
							<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
						</li>
						<li>
							<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
						</li>
					</ul>
				</div>
			</form>
		</div>
			
		<div class="col-sm-12 select-info table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:developProjects:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:developProjects:remove')}]];
        var prefix = ctx + "system/developProjects"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "开发项目",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '序号'
				},
				{
					field : 'developName', 
					title : '开发名称' 
				},
				{
					field : 'designUnit',
					title : '设计单位'
				},
				{
					field : 'constructionUnit',
					title : '施工单位'
				},
				{
					field : 'supervisionUnit',
					title : '监理单位'
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + '" href="#" onclick="detail(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看</a> ');
		            	actions.push('<a class="btn btn-success btn-xs '+ editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs '+ removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        function detail(id) {
            var url = prefix + "/detail/"+ id;
            $.modal.open("查看" + $.table._option.modalName, url);

        }
    </script>
</body>
</html>