<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-rent-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">资产名称：</label>
				<div class="col-sm-8">
					<select id="assetManagement" name="assetManagement" class="form-control select2-hidden-accessible" multiple="">
						<option th:each="assetManagement:${assets}" th:value="${assetManagement.id}" th:text="${assetManagement.assetName}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">坐落地址：</label>
				<div class="col-sm-8">
					<input id="address" name="address" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">承租方单位或个人名称：</label>
				<div class="col-sm-8">
					<input id="rentName" name="rentName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">面积（平方米）：</label>
				<div class="col-sm-8">
					<input id="area" name="area" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">承租方营业执照或个人身份证：</label>
				<div class="col-sm-8">
					<input id="number" name="number" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">电话号码：</label>
				<div class="col-sm-8">
					<input id="telephone" name="telephone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用途：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
        var prefix = ctx + "system/rent"
        $("#form-rent-add").validate({
            rules:{
                assetName:{
                    required:true,

                },
                telephone:{
                    required:true,
                    remote: {
                        url: prefix + "/checkAssetNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "telephone" : function() {
                                return $("input[name='telephone']").val();
                            }
                        },
                        dataFilter: function() {
                            var telephone= $("#telephone").val();
                            if(/^1[34578]\d{9}$/.test(telephone)){ return true; }
                            else return false;
                        }
                    }
                },
                number:{
                    required:true,
                    remote: {
                        url: prefix + "/checkAssetNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "number" : function() {
                                return $("input[name='number']").val();
                            }
                        },
                        dataFilter: function() {
                            var number= $("#number").val();
                            if(/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/.test(number)){ return true; }
                            else return false;
                        }
                    }
                },
            },
            messages: {

                "telephone": {
                    remote: "手机格式不正确"
                },
                "number": {
                    remote: "身份证格式不正确"
                }
            },
            submitHandler: function(form) {
                add();
            }
        });
        function add() {
            var rentId = $("input[name='rentId']").val();
            var address = $("input[name='address']").val();
            var rentName = $("input[name='rentName']").val();
            var area = $("input[name='area']").val();
            var number = $("input[name='number']").val();
            var telephone = $("input[name='telephone']").val();
            var remark = $("input[name='remark']").val();
            var assetIds = $.form.selectSelects("assetManagement");
            $.ajax({
                cache : true,
                type : "POST",
                url : ctx + "system/rent/add",
                data : {
                    "rentId": rentId,
                    "address": address,
                    "rentName": rentName,
                    "area": area,
                    "number": number,
                    "telephone": telephone,
                    "remark": remark,
                    "assetIds": assetIds
                },
                async : false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    $.operate.saveSuccess(data);
                }
            });
        }

	</script>
</body>
</html>
