<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/ajax/libs/iCheck/custom.css" th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-rent-edit" th:object="${rent}">
        <input id="rentId" name="rentId" th:field="*{rentId}"  type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">资产名称：</label>
            <div class="col-sm-8">
                <select  id="assetManagement" disabled="disabled" name="assetManagement" class="form-control select2-hidden-accessible" multiple="">
                    <option th:each="assetManagement:${assets}" th:value="${assetManagement.id}" th:text="${assetManagement.assetName}" th:selected="${assetManagement.flag}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">坐落地址：</label>
            <div class="col-sm-8">
                <input id="address" name="address" th:field="*{address}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">承租方单位或个人名称：</label>
            <div class="col-sm-8">
                <input id="rentName" name="rentName" th:field="*{rentName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">面积（平方米）：</label>
            <div class="col-sm-8">
                <input id="area" name="area" th:field="*{area}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">承租方营业执照或个人身份证：</label>
            <div class="col-sm-8">
                <input id="number" name="number" th:field="*{number}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">电话号码：</label>
            <div class="col-sm-8">
                <input id="telephone" name="telephone" th:field="*{telephone}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用途：</label>
            <div class="col-sm-8">
                <input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <div class="form-control-static col-sm-offset-9">
                <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
<script th:src="@{/ajax/libs/select/select2.js}"></script>


</body>
</html>
