<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjnu.newrailway.project.system.mapper.AssetInfoMapper">
    
    <resultMap type="AssetInfo" id="AssetInfoResult">
        <result property="id"    column="id"    />
        <result property="assetnumber"    column="assetnumber"    />
        <result property="assername"    column="assername"    />
        <result property="policestation"    column="policestation"    />
        <result property="firehouse"    column="firehouse"    />
        <result property="streetcommunity"    column="streetcommunity"    />
        <result property="assettype"    column="assettype"    />
        <result property="transferofassets"    column="transferofassets"    />
        <result property="satellitepositionimg"    column="satellitepositionimg"    />
        <result property="property"    column="property"    />
        <result property="aerialmap"    column="aerialmap"    />
        <result property="fieldphoto"    column="fieldphoto"    />
        <result property="securitystructureproof"    column="securitystructureproof"    />
        <result property="encroachmentinfo"    column="encroachmentinfo"    />
        <result property="historylegacy"    column="historylegacy"    />
        <result property="renovationprojectid"    column="renovationprojectid"    />
        <result property="developmentprojectid"    column="developmentprojectid"    />
    </resultMap>
	
	<sql id="selectAssetInfoVo">
        select id, assetnumber, assername, policestation, firehouse, streetcommunity, assettype, transferofassets, satellitepositionimg, property, aerialmap, fieldphoto, securitystructureproof, encroachmentinfo, historylegacy, renovationprojectid, developmentprojectid from sys_asset_info
    </sql>
	
    <select id="selectAssetInfoList" parameterType="AssetInfo" resultMap="AssetInfoResult">
        <include refid="selectAssetInfoVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="assetnumber != null and assetnumber != ''"> and assetnumber = #{assetnumber}</if>
             <if test="assername != null and assername != ''"> and assername = #{assername}</if>
             <if test="policestation != null and policestation != ''"> and policestation = #{policestation}</if>
             <if test="firehouse != null and firehouse != ''"> and firehouse = #{firehouse}</if>
             <if test="streetcommunity != null and streetcommunity != ''"> and streetcommunity = #{streetcommunity}</if>
             <if test="assettype != null and assettype != ''"> and assettype = #{assettype}</if>
             <if test="transferofassets != null and transferofassets != ''"> and transferofassets = #{transferofassets}</if>
             <if test="satellitepositionimg != null and satellitepositionimg != ''"> and satellitepositionimg = #{satellitepositionimg}</if>
             <if test="property != null and property != ''"> and property = #{property}</if>
             <if test="aerialmap != null and aerialmap != ''"> and aerialmap = #{aerialmap}</if>
             <if test="fieldphoto != null and fieldphoto != ''"> and fieldphoto = #{fieldphoto}</if>
             <if test="securitystructureproof != null and securitystructureproof != ''"> and securitystructureproof = #{securitystructureproof}</if>
             <if test="encroachmentinfo != null and encroachmentinfo != ''"> and encroachmentinfo = #{encroachmentinfo}</if>
             <if test="historylegacy != null and historylegacy != ''"> and historylegacy = #{historylegacy}</if>
             <if test="renovationprojectid != null and renovationprojectid != ''"> and renovationprojectid = #{renovationprojectid}</if>
             <if test="developmentprojectid != null and developmentprojectid != ''"> and developmentprojectid = #{developmentprojectid}</if>
         </where>
    </select>
    
    <select id="selectAssetInfoById" parameterType="Integer" resultMap="AssetInfoResult">
        <include refid="selectAssetInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAssetInfo" parameterType="AssetInfo">
        insert into sys_asset_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="assetnumber != null and assetnumber != '' ">assetnumber,</if>
			<if test="assername != null and assername != '' ">assername,</if>
			<if test="policestation != null and policestation != '' ">policestation,</if>
			<if test="firehouse != null and firehouse != '' ">firehouse,</if>
			<if test="streetcommunity != null and streetcommunity != '' ">streetcommunity,</if>
			<if test="assettype != null and assettype != '' ">assettype,</if>
			<if test="transferofassets != null and transferofassets != '' ">transferofassets,</if>
			<if test="satellitepositionimg != null and satellitepositionimg != '' ">satellitepositionimg,</if>
			<if test="property != null and property != '' ">property,</if>
			<if test="aerialmap != null and aerialmap != '' ">aerialmap,</if>
			<if test="fieldphoto != null and fieldphoto != '' ">fieldphoto,</if>
			<if test="securitystructureproof != null and securitystructureproof != '' ">securitystructureproof,</if>
			<if test="encroachmentinfo != null and encroachmentinfo != '' ">encroachmentinfo,</if>
			<if test="historylegacy != null and historylegacy != '' ">historylegacy,</if>
			<if test="renovationprojectid != null and renovationprojectid != '' ">renovationprojectid,</if>
			<if test="developmentprojectid != null and developmentprojectid != '' ">developmentprojectid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="assetnumber != null and assetnumber != ''">#{assetnumber},</if>
			<if test="assername != null and assername != ''">#{assername},</if>
			<if test="policestation != null and policestation != ''">#{policestation},</if>
			<if test="firehouse != null and firehouse != ''">#{firehouse},</if>
			<if test="streetcommunity != null and streetcommunity != ''">#{streetcommunity},</if>
			<if test="assettype != null and assettype != ''">#{assettype},</if>
			<if test="transferofassets != null and transferofassets != ''">#{transferofassets},</if>
			<if test="satellitepositionimg != null and satellitepositionimg != ''">#{satellitepositionimg},</if>
			<if test="property != null and property != ''">#{property},</if>
			<if test="aerialmap != null and aerialmap != ''">#{aerialmap},</if>
			<if test="fieldphoto != null and fieldphoto != ''">#{fieldphoto},</if>
			<if test="securitystructureproof != null and securitystructureproof != ''">#{securitystructureproof},</if>
			<if test="encroachmentinfo != null and encroachmentinfo != ''">#{encroachmentinfo},</if>
			<if test="historylegacy != null and historylegacy != ''">#{historylegacy},</if>
			<if test="renovationprojectid != null and renovationprojectid != ''">#{renovationprojectid},</if>
			<if test="developmentprojectid != null and developmentprojectid != ''">#{developmentprojectid},</if>
         </trim>
    </insert>
	 
    <update id="updateAssetInfo" parameterType="AssetInfo">
        update sys_asset_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="assetnumber != null  ">assetnumber = #{assetnumber},</if>
            <if test="assername != null  and assername != ''  ">assername = #{assername},</if>
            <if test="policestation != null  and policestation != ''  ">policestation = #{policestation},</if>
            <if test="firehouse != null  and firehouse != ''  ">firehouse = #{firehouse},</if>
            <if test="streetcommunity != null  and streetcommunity != ''  ">streetcommunity = #{streetcommunity},</if>
            <if test="assettype != null  and assettype != ''  ">assettype = #{assettype},</if>
            <if test="transferofassets != null  and transferofassets != ''  ">transferofassets = #{transferofassets},</if>
            <if test="satellitepositionimg != null  and satellitepositionimg != ''  ">satellitepositionimg = #{satellitepositionimg},</if>
            <if test="property != null  and property != ''  ">property = #{property},</if>
            <if test="aerialmap != null  and aerialmap != ''  ">aerialmap = #{aerialmap},</if>
            <if test="fieldphoto != null  and fieldphoto != ''  ">fieldphoto = #{fieldphoto},</if>
            <if test="securitystructureproof != null  and securitystructureproof != ''  ">securitystructureproof = #{securitystructureproof},</if>
            <if test="encroachmentinfo != null  and encroachmentinfo != ''  ">encroachmentinfo = #{encroachmentinfo},</if>
            <if test="historylegacy != null  and historylegacy != ''  ">historylegacy = #{historylegacy},</if>
            <if test="renovationprojectid != null  ">renovationprojectid = #{renovationprojectid},</if>
            <if test="developmentprojectid != null  ">developmentprojectid = #{developmentprojectid},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteAssetInfoById" parameterType="Integer">
        delete from sys_asset_info where id = #{id}
    </delete>
	
    <delete id="deleteAssetInfoByIds" parameterType="String">
        delete from sys_asset_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="checkType" parameterType="String" resultMap="AssetInfoResult">
        select * from sys_asset_info
        where assettype = #{assettype}
    </select>


</mapper>