<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjnu.newrailway.project.system.mapper.DevelopProjectsMapper">
    
    <resultMap type="DevelopProjects" id="DevelopProjectsResult">
        <result property="id"    column="id"    />
        <result property="assetName"    column="asset_name"    />
        <result property="developName"    column="develop_name"    />
        <result property="stratTime"    column="strat_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="designUnit"    column="design_unit"    />
        <result property="constructionUnit"    column="construction_unit"    />
        <result property="supervisionUnit"    column="supervision_unit"    />
        <result property="meeting"    column="meeting"    />
        <result property="approvalDocuments"    column="approval_documents"    />
        <result property="difference"    column="difference"    />
    </resultMap>
	
	<sql id="selectDevelopProjectsVo">
        select id,asset_name, develop_name, strat_time, end_time, design_unit, construction_unit, supervision_unit, meeting, approval_documents,difference from sys_develop_projects
    </sql>
	
    <select id="selectDevelopProjectsList" parameterType="DevelopProjects" resultMap="DevelopProjectsResult">
        <include refid="selectDevelopProjectsVo"/>
        <where>
            <if test="assetName != null and assetName != ''">
                AND asset_name like concat('%', #{assetName}, '%')
            </if>
        </where>
    </select>
    
    <select id="selectDevelopProjectsById" parameterType="Integer" resultMap="DevelopProjectsResult">
        <include refid="selectDevelopProjectsVo"/>
        where id = #{id}
    </select>

    <select id="selectDevelopProjectsAll" resultMap="DevelopProjectsResult">
        <include refid="selectDevelopProjectsVo"/>
    </select>

    <select id="selectDevelopProjectsByAssetName" parameterType="DevelopProjects" resultMap="DevelopProjectsResult">
        select * from sys_develop_projects where asset_name = #{assetName}
    </select>
    <select id="getAssetName" resultType="java.lang.String">
        select distinct r.asset_name from sys_develop_projects r
        LEFT JOIN sys_asset_management a ON r.id =a.id
        where a.asset_difference = 1;
    </select>

    <insert id="insertDevelopProjects" parameterType="DevelopProjects">
        insert into sys_develop_projects
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
            <if test="assetName != null and assetName != '' ">asset_name,</if>
			<if test="developName != null and developName != '' ">develop_name,</if>
			<if test="stratTime != null and stratTime != '' ">strat_time,</if>
			<if test="endTime != null and endTime != '' ">end_time,</if>
			<if test="designUnit != null and designUnit != '' ">design_unit,</if>
			<if test="constructionUnit != null and constructionUnit != '' ">construction_unit,</if>
			<if test="supervisionUnit != null and supervisionUnit != '' ">supervision_unit,</if>
			<if test="meeting != null and meeting != '' ">meeting,</if>
			<if test="approvalDocuments != null and approvalDocuments != '' ">approval_documents,</if>
            <if test="difference != null and difference != '' ">difference,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
            <if test="assetName != null and assetName != ''">#{assetName},</if>
			<if test="developName != null and developName != ''">#{developName},</if>
			<if test="stratTime != null and stratTime != ''">#{stratTime},</if>
			<if test="endTime != null and endTime != ''">#{endTime},</if>
			<if test="designUnit != null and designUnit != ''">#{designUnit},</if>
			<if test="constructionUnit != null and constructionUnit != ''">#{constructionUnit},</if>
			<if test="supervisionUnit != null and supervisionUnit != ''">#{supervisionUnit},</if>
			<if test="meeting != null and meeting != ''">#{meeting},</if>
			<if test="approvalDocuments != null and approvalDocuments != ''">#{approvalDocuments},</if>
            <if test="difference != null and difference != ''">#{difference},</if>
         </trim>
    </insert>
    <insert id="insert" parameterType="DevelopProjects">
        insert into sys_develop_projects(id,asset_name,develop_name, strat_time, end_time, design_unit, construction_unit, supervision_unit, meeting, approval_documents,difference )
        values (#{id},#{assetName},#{developName},#{stratTime},#{endTime},#{designUnit},#{constructionUnit},#{supervisionUnit},#{meeting},#{approvalDocuments},#{difference})
    </insert>


    <update id="updateDevelopProjects" parameterType="DevelopProjects">
        update sys_develop_projects
        <trim prefix="SET" suffixOverrides=",">
            <if test="assetName != null  and assetName != ''  ">asset_name = #{assetName},</if>
            <if test="developName != null  and developName != ''  ">develop_name = #{developName},</if>
            <if test="stratTime != null  ">strat_time = #{stratTime},</if>
            <if test="endTime != null  ">end_time = #{endTime},</if>
            <if test="designUnit != null  and designUnit != ''  ">design_unit = #{designUnit},</if>
            <if test="constructionUnit != null  and constructionUnit != ''  ">construction_unit = #{constructionUnit},</if>
            <if test="supervisionUnit != null  and supervisionUnit != ''  ">supervision_unit = #{supervisionUnit},</if>
            <if test="meeting != null  and meeting != ''  ">meeting = #{meeting},</if>
            <if test="approvalDocuments != null  and approvalDocuments != ''  ">approval_documents = #{approvalDocuments},</if>
            <if test="difference != null  and difference != ''  ">difference = #{difference},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteDevelopProjectsById" parameterType="Integer">
        delete from sys_develop_projects where id = #{id}
    </delete>
	
    <delete id="deleteDevelopProjectsByIds" parameterType="String">
        delete from sys_develop_projects where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>