<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjnu.newrailway.project.system.mapper.LandMapper">
    
    <resultMap type="Asset" id="LandResult">
        <result property="id"    column="id"    />
        <result property="assetName"    column="asset_name"    />
        <result property="assetNumber"    column="asset_number"    />
        <result property="assetTranslation"    column="asset_translation"    />
        <result property="assetArea"    column="asset_area"    />
        <result property="assetLocation"    column="asset_location"    />
        <result property="policeStation"    column="police_station"    />
        <result property="fireBrigade"    column="fire_brigade"    />
        <result property="assetType"    column="asset_type"    />
        <result property="squatterHouse"    column="squatter_house"    />
        <result property="legacy"    column="legacy"    />
        <result property="assetDeliver"    column="asset_deliver"    />
        <result property="sateliteFix"    column="satelite_fix"    />
        <result property="ownershipCertificate"    column="ownership_certificate"    />
        <result property="aerialMap"    column="aerial_map"    />
        <result property="livePic"    column="live_pic"    />
        <result property="safeCertificate"    column="safe_certificate"    />
        <result property="assetDifference"    column="asset_difference"    />
    </resultMap>
	
	<sql id="selectLandVo">
        select id, asset_name, asset_number, asset_translation, asset_area, asset_location, police_station, fire_brigade, asset_type, squatter_house, legacy, asset_deliver, satelite_fix, ownership_certificate, aerial_map, live_pic, safe_certificate, asset_difference from sys_asset_management
    </sql>
	
    <select id="selectLandList" parameterType="Asset" resultMap="LandResult">
        <include refid="selectLandVo"/>
      where asset_difference = 1
        <if test="assetName != null and assetName != ''">
            AND asset_name like concat('%', #{assetName}, '%')
        </if>
    </select>


    <select id="selectLandById" parameterType="Integer" resultMap="LandResult">
        <include refid="selectLandVo"/>
        where id = #{id}
    </select>

    <select id="checkAssetName" parameterType="String" resultMap="LandResult">
        SELECT * FROM sys_asset_management
        WHERE asset_name = #{assetName}
    </select>

    <select id="checkAssetNumber" parameterType="Integer" resultMap="LandResult">
        SELECT * FROM sys_asset_management
        WHERE asset_number = #{assetNumber}
    </select>

    <insert id="insertLand" parameterType="Asset">
        insert into sys_asset_management
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="assetName != null and assetName != '' ">asset_name,</if>
			<if test="assetNumber != null and assetNumber != '' ">asset_number,</if>
			<if test="assetTranslation != null and assetTranslation != '' ">asset_translation,</if>
			<if test="assetArea != null and assetArea != '' ">asset_area,</if>
			<if test="assetLocation != null and assetLocation != '' ">asset_location,</if>
			<if test="policeStation != null and policeStation != '' ">police_station,</if>
			<if test="fireBrigade != null and fireBrigade != '' ">fire_brigade,</if>
			<if test="assetType != null and assetType != '' ">asset_type,</if>
			<if test="squatterHouse != null and squatterHouse != '' ">squatter_house,</if>
			<if test="legacy != null and legacy != '' ">legacy,</if>
			<if test="assetDeliver != null and assetDeliver != '' ">asset_deliver,</if>
			<if test="sateliteFix != null and sateliteFix != '' ">satelite_fix,</if>
			<if test="ownershipCertificate != null and ownershipCertificate != '' ">ownership_certificate,</if>
			<if test="aerialMap != null and aerialMap != '' ">aerial_map,</if>
			<if test="livePic != null and livePic != '' ">live_pic,</if>
			<if test="safeCertificate != null and safeCertificate != '' ">safe_certificate,</if>
			<if test="assetDifference != null and assetDifference != '' ">asset_difference,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="assetName != null and assetName != ''">#{assetName},</if>
			<if test="assetNumber != null and assetNumber != ''">#{assetNumber},</if>
			<if test="assetTranslation != null and assetTranslation != ''">#{assetTranslation},</if>
			<if test="assetArea != null and assetArea != ''">#{assetArea},</if>
			<if test="assetLocation != null and assetLocation != ''">#{assetLocation},</if>
			<if test="policeStation != null and policeStation != ''">#{policeStation},</if>
			<if test="fireBrigade != null and fireBrigade != ''">#{fireBrigade},</if>
			<if test="assetType != null and assetType != ''">#{assetType},</if>
			<if test="squatterHouse != null and squatterHouse != ''">#{squatterHouse},</if>
			<if test="legacy != null and legacy != ''">#{legacy},</if>
			<if test="assetDeliver != null and assetDeliver != ''">#{assetDeliver},</if>
			<if test="sateliteFix != null and sateliteFix != ''">#{sateliteFix},</if>
			<if test="ownershipCertificate != null and ownershipCertificate != ''">#{ownershipCertificate},</if>
			<if test="aerialMap != null and aerialMap != ''">#{aerialMap},</if>
			<if test="livePic != null and livePic != ''">#{livePic},</if>
			<if test="safeCertificate != null and safeCertificate != ''">#{safeCertificate},</if>
			<if test="assetDifference != null and assetDifference != ''">#{assetDifference},</if>
         </trim>
    </insert>
	 
    <update id="updateLand" parameterType="Asset">
        update sys_asset_management
        <trim prefix="SET" suffixOverrides=",">
            <if test="assetName != null  and assetName != ''  ">asset_name = #{assetName},</if>
            <if test="assetNumber != null  ">asset_number = #{assetNumber},</if>
            <if test="assetTranslation != null  and assetTranslation != ''  ">asset_translation = #{assetTranslation},</if>
            <if test="assetArea != null  and assetArea != ''  ">asset_area = #{assetArea},</if>
            <if test="assetLocation != null  and assetLocation != ''  ">asset_location = #{assetLocation},</if>
            <if test="policeStation != null  and policeStation != ''  ">police_station = #{policeStation},</if>
            <if test="fireBrigade != null  and fireBrigade != ''  ">fire_brigade = #{fireBrigade},</if>
            <if test="assetType != null  and assetType != ''  ">asset_type = #{assetType},</if>
            <if test="squatterHouse != null  and squatterHouse != ''  ">squatter_house = #{squatterHouse},</if>
            <if test="legacy != null  and legacy != ''  ">legacy = #{legacy},</if>
            <if test="assetDeliver != null  and assetDeliver != ''  ">asset_deliver = #{assetDeliver},</if>
            <if test="sateliteFix != null  and sateliteFix != ''  ">satelite_fix = #{sateliteFix},</if>
            <if test="ownershipCertificate != null  and ownershipCertificate != ''  ">ownership_certificate = #{ownershipCertificate},</if>
            <if test="aerialMap != null  and aerialMap != ''  ">aerial_map = #{aerialMap},</if>
            <if test="livePic != null  and livePic != ''  ">live_pic = #{livePic},</if>
            <if test="safeCertificate != null  and safeCertificate != ''  ">safe_certificate = #{safeCertificate},</if>
            <if test="assetDifference != null  ">asset_difference = #{assetDifference},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteLandById" parameterType="Integer">
        delete from sys_asset_management where id = #{id}
    </delete>
	
    <delete id="deleteLandByIds" parameterType="String">
        delete from sys_asset_management where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>