<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjnu.newrailway.project.system.mapper.RentMapper">
    
    <resultMap type="Rent" id="RentResult">
        <result property="id"    column="id"    />
        <result property="assetName"    column="asset_name"    />
        <result property="address"    column="address"    />
        <result property="rentName"    column="rent_name"    />
        <result property="area"    column="area"    />
        <result property="number"    column="number"    />
        <result property="telephone"    column="telephone"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectRentVo">
        select id, asset_name, address, rent_name, area, number, telephone, remark from sys_rent
    </sql>
	
    <select id="selectRentList" parameterType="Rent" resultMap="RentResult">
        <include refid="selectRentVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="assetName != null and assetName != ''"> and asset_name = #{assetName}</if>
             <if test="address != null and address != ''"> and address = #{address}</if>
             <if test="rentName != null and rentName != ''"> and rent_name = #{rentName}</if>
             <if test="area != null and area != ''"> and area = #{area}</if>
             <if test="number != null and number != ''"> and number = #{number}</if>
             <if test="telephone != null and telephone != ''"> and telephone = #{telephone}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectRentById" parameterType="Integer" resultMap="RentResult">
        <include refid="selectRentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRent" parameterType="Rent">
        insert into sys_rent
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="assetName != null and assetName != '' ">asset_name,</if>
			<if test="address != null and address != '' ">address,</if>
			<if test="rentName != null and rentName != '' ">rent_name,</if>
			<if test="area != null and area != '' ">area,</if>
			<if test="number != null and number != '' ">number,</if>
			<if test="telephone != null and telephone != '' ">telephone,</if>
			<if test="remark != null and remark != '' ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="assetName != null and assetName != ''">#{assetName},</if>
			<if test="address != null and address != ''">#{address},</if>
			<if test="rentName != null and rentName != ''">#{rentName},</if>
			<if test="area != null and area != ''">#{area},</if>
			<if test="number != null and number != ''">#{number},</if>
			<if test="telephone != null and telephone != ''">#{telephone},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateRent" parameterType="Rent">
        update sys_rent
        <trim prefix="SET" suffixOverrides=",">
            <if test="assetName != null  and assetName != ''  ">asset_name = #{assetName},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="rentName != null  and rentName != ''  ">rent_name = #{rentName},</if>
            <if test="area != null  and area != ''  ">area = #{area},</if>
            <if test="number != null  and number != ''  ">number = #{number},</if>
            <if test="telephone != null  and telephone != ''  ">telephone = #{telephone},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteRentById" parameterType="Integer">
        delete from sys_rent where id = #{id}
    </delete>
	
    <delete id="deleteRentByIds" parameterType="String">
        delete from sys_rent where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>