<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjnu.newrailway.project.system.mapper.RentMapper">
    
    <resultMap type="Rent" id="RentResult">
        <result property="rentId"    column="rent_id"    />
        <result property="assetId"    column="asset_id"    />
        <result property="address"    column="address"    />
        <result property="rentName"    column="rent_name"    />
        <result property="area"    column="area"    />
        <result property="number"    column="number"    />
        <result property="telephone"    column="telephone"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <association property="assetManagement"    column="id" javaType="AssetManagement" resultMap="assetResult"/>
    </resultMap>

    <resultMap id="assetResult" type="AssetManagement">
        <id     property="assetId"   column="asset_id"     />
        <result property="assetName" column="asset_name"   />
    </resultMap>
	
	<sql id="selectRentVo">
   select r.rent_id, r.asset_id, r.address, r.rent_name, r.area, r.number, r.telephone, r.remark, r.create_time, r.update_time ,am.asset_id,am.asset_name
    from sys_rent r
    left join sys_asset_management am on am.asset_id = r.asset_id
    </sql>
	
    <select id="selectRentList" parameterType="Rent" resultMap="RentResult">
        <include refid="selectRentVo"/>
       <where>
        <if test="rentName != null and rentName != ''">
            AND rent_name like concat('%', #{rentName}, '%')
        </if>
           <if test="params != null and params.createTime != ''"><!-- 开始时间检索 -->
               AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.createTime},'%y%m%d')
           </if>
           <if test="params != null and params.updateTime != ''"><!-- 结束时间检索 -->
               AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.updateTime},'%y%m%d')
           </if>
       </where>
    </select>


    <select id="selectRentById" parameterType="Integer" resultMap="RentResult">
		select  r.rent_id,  r.rent_name,r.address,r.area,r.number,r.telephone,r.remark,
			(select rent_name from sys_rent  where rent_id = r.rent_id)
		from sys_rent r
		where rent_id = #{rentId}
	</select>

    <select id="checkAssetNameUnique" resultType="zjnu.newrailway.project.system.bean.Rent">
        <include refid="selectRentVo"/>
        where asset_name=#{assetName}
    </select>

    <select id="selectRentListTest" parameterType="Rent" resultMap="RentResult">
         select r.asset_name,r.rent_name,r.telephone from  sys_assessment a
        left join sys_rent_assessment  ra on a.assessment_id = ra.assessment_id
        left join sys_rent r on r.rent_id = ra.rent_id
        <where>
            <if test="rentName != null and rentName != ''">
                AND r.rent_name like concat('%', #{rentName}, '%')
            </if>
            <if test="params != null and params.createTime != ''"><!-- 开始时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &gt;= date_format(#{params.createTime},'%y%m%d')
            </if>
            <if test="params != null and params.updateTime != ''"><!-- 结束时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &lt;= date_format(#{params.updateTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectRentAll" resultMap="RentResult">
        <include refid="selectRentVo"/>
    </select>


    <insert id="insertRent" parameterType="Rent">
        insert into sys_rent
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rentId != null and rentId != '' ">rent_id,</if>
			<if test="assetId != null and assetId != '' ">asset_id,</if>
			<if test="address != null and address != '' ">address,</if>
			<if test="rentName != null and rentName != '' ">rent_name,</if>
			<if test="area != null and area != '' ">area,</if>
			<if test="number != null and number != '' ">number,</if>
			<if test="telephone != null and telephone != '' ">telephone,</if>
			<if test="remark != null and remark != '' ">remark,</if>
            <if test="createTime != null and createTime != '' ">create_time,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rentId != null and rentId != ''">#{rentId},</if>
			<if test="assetId != null and assetId != ''">#{assetId},</if>
			<if test="address != null and address != ''">#{address},</if>
			<if test="rentName != null and rentName != ''">#{rentName},</if>
			<if test="area != null and area != ''">#{area},</if>
			<if test="number != null and number != ''">#{number},</if>
			<if test="telephone != null and telephone != ''">#{telephone},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
            <if test="createTime != null and createTime != ''">#{createTime},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateRent" parameterType="Rent">
        update sys_rent
        <trim prefix="SET" suffixOverrides=",">
            <if test="assetId != null  and assetId != ''  ">asset_id = #{assetId},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="rentName != null  and rentName != ''  ">rent_name = #{rentName},</if>
            <if test="area != null  and area != ''  ">area = #{area},</if>
            <if test="number != null  and number != ''  ">number = #{number},</if>
            <if test="telephone != null  and telephone != ''  ">telephone = #{telephone},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
            update_time = sysdate()
        </trim>
        where rent_id = #{rentId}
    </update>

	<delete id="deleteRentById" parameterType="Integer">
        delete from sys_rent where rent_id = #{rentId}
    </delete>
	
    <delete id="deleteRentByIds" parameterType="String">
        delete from sys_rent where rent_id in
        <foreach item="rentId" collection="array" open="(" separator="," close=")">
            #{rentId}
        </foreach>
    </delete>
    
</mapper>