<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjnu.newrailway.project.system.mapper.RegularSecurityInformationMapper">
    
    <resultMap type="RegularSecurityInformation" id="RegularSecurityInformationResult">
        <result property="id"    column="id"    />
        <result property="contractid"    column="contractid"    />
        <result property="securityprotocolscans"    column="securityprotocolscans"    />
        <result property="description"    column="description"    />
        <result property="level"    column="level"    />
        <result property="fireequipment"    column="fireequipment"    />
        <result property="electricalcapacity"    column="electricalcapacity"    />
        <result property="annualassessment"    column="annualassessment"    />
    </resultMap>
	
	<sql id="selectRegularSecurityInformationVo">
        select id, contractid, securityprotocolscans, description, level, fireequipment, electricalcapacity, annualassessment from sys_regular_security_information
    </sql>
	
    <select id="selectRegularSecurityInformationList" parameterType="RegularSecurityInformation" resultMap="RegularSecurityInformationResult">
        <include refid="selectRegularSecurityInformationVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="contractid != null and contractid != ''"> and contractid = #{contractid}</if>
             <if test="securityprotocolscans != null and securityprotocolscans != ''"> and securityprotocolscans = #{securityprotocolscans}</if>
             <if test="description != null and description != ''"> and description = #{description}</if>
             <if test="level != null and level != ''"> and level = #{level}</if>
             <if test="fireequipment != null and fireequipment != ''"> and fireequipment = #{fireequipment}</if>
             <if test="electricalcapacity != null and electricalcapacity != ''"> and electricalcapacity = #{electricalcapacity}</if>
             <if test="annualassessment != null and annualassessment != ''"> and annualassessment = #{annualassessment}</if>
         </where>
    </select>
    
    <select id="selectRegularSecurityInformationById" parameterType="Integer" resultMap="RegularSecurityInformationResult">
        <include refid="selectRegularSecurityInformationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRegularSecurityInformation" parameterType="RegularSecurityInformation">
        insert into sys_regular_security_information
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="contractid != null and contractid != '' ">contractid,</if>
			<if test="securityprotocolscans != null and securityprotocolscans != '' ">securityprotocolscans,</if>
			<if test="description != null and description != '' ">description,</if>
			<if test="level != null and level != '' ">level,</if>
			<if test="fireequipment != null and fireequipment != '' ">fireequipment,</if>
			<if test="electricalcapacity != null and electricalcapacity != '' ">electricalcapacity,</if>
			<if test="annualassessment != null and annualassessment != '' ">annualassessment,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="contractid != null and contractid != ''">#{contractid},</if>
			<if test="securityprotocolscans != null and securityprotocolscans != ''">#{securityprotocolscans},</if>
			<if test="description != null and description != ''">#{description},</if>
			<if test="level != null and level != ''">#{level},</if>
			<if test="fireequipment != null and fireequipment != ''">#{fireequipment},</if>
			<if test="electricalcapacity != null and electricalcapacity != ''">#{electricalcapacity},</if>
			<if test="annualassessment != null and annualassessment != ''">#{annualassessment},</if>
         </trim>
    </insert>
	 
    <update id="updateRegularSecurityInformation" parameterType="RegularSecurityInformation">
        update sys_regular_security_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractid != null  ">contractid = #{contractid},</if>
            <if test="securityprotocolscans != null  and securityprotocolscans != ''  ">securityprotocolscans = #{securityprotocolscans},</if>
            <if test="description != null  and description != ''  ">description = #{description},</if>
            <if test="level != null  and level != ''  ">level = #{level},</if>
            <if test="fireequipment != null  and fireequipment != ''  ">fireequipment = #{fireequipment},</if>
            <if test="electricalcapacity != null  and electricalcapacity != ''  ">electricalcapacity = #{electricalcapacity},</if>
            <if test="annualassessment != null  and annualassessment != ''  ">annualassessment = #{annualassessment},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteRegularSecurityInformationById" parameterType="Integer">
        delete from sys_regular_security_information where id = #{id}
    </delete>
	
    <delete id="deleteRegularSecurityInformationByIds" parameterType="String">
        delete from sys_regular_security_information where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>