<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-assessment-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">承租项点名称：</label>
				<div class="col-sm-8">
					<select id="rent" name="rent" class="form-control select2-hidden-accessible" multiple="">
						<option th:each="rent:${rents}" th:value="${rent.rentId}" th:text="${rent.rentName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">承租项点营业额评分：</label>
				<div class="col-sm-8">
					<input id="businessSituation" name="businessSituation" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">承租方信誉度评分：</label>
				<div class="col-sm-8">
					<input id="credit" name="credit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">承租项点受损情况：</label>
				<div class="col-sm-8">
					<input id="damage" name="damage" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "system/assessment"
		$("#form-assessment-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
            submitHandler: function(form) {
                add();
            }
        });
        function add() {
            var rentId = $("input[name='rentId']").val();
            var businessSituation = $("input[name='businessSituation']").val();
            var credit = $("input[name='credit']").val();
            var damage = $("input[name='damage']").val();
            var rentIds = $.form.selectSelects("rent");
            $.ajax({
                cache : true,
                type : "POST",
                url : ctx + "system/assessment/add",
                data : {
                    "rentId": rentId,
                    "businessSituation": businessSituation,
                    "credit": credit,
                    "damage": damage,
                    "rentIds": rentIds
                },
                async : false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    $.operate.saveSuccess(data);
                }
            });
        }

	</script>
</body>
</html>
