<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
	<div class="col-sm-12 select-info">
		<form id="operlog-form">
			<div class="select-list">
				<ul>
					<li>
						<input type="text" placeholder="请输入承租方单位或个人名称" name="rentName"/>
					</li>
					<li class="time">
						<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[createTime]"/>
						<span>-</span>
						<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[updateTime]"/>
					</li>
					<li>
						<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
					</li>
				</ul>
			</div>
		</form>
	</div>
	<div class="btn-group hidden-xs" id="toolbar" role="group">

		<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" >
			<i class="fa fa-plus"></i> 新增考核
		</a>
		<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()" >
			<i class="fa fa-trash-o"></i> 删除
		</a>
	</div>
	<div class="col-sm-12 select-info table-striped">
		<table id="bootstrap-table" data-mobile-responsive="true"></table>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var checkFlag = [[${@permission.hasPermi('system:assessment:check')}]];
    var prefix = ctx + "system/assessment"

    $(function() {
        var options = {
            url: prefix + "/listTest",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "年度考核",
            search: false,
            columns: [{
                checkbox: true
                 },
                {
                    field : 'assetManagement.assetName',
                    title : '对应资产名称'
                },
                {
                    field : 'rentName',
                    title : '承租方单位或个人名称'
                },
                {
                    field : 'telephone',
                    title : '联系电话'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs '+ checkFlag + '" href="#" onclick="check(\'' + row.assessmentId + '\')"><i class="fa fa-check">修改考核</i></a>');
                        return actions.join('  ');
                    }
                }]
        };
        $.table.init(options);
    });

    function check(assessmentId) {
		url = prefix + "/check/" +assessmentId;
            $.modal.openFull("考核" + $.table._option.modalName, url);
    }
    /*资产管理*/
    function assetManagement() {
        var url = ctx + "system/assetManagement";
        createMenuItem(url, "资产管理");
    }


</script>
</body>
</html>