<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-contract-add">
			<input name="rentId"  type="hidden" id="treeId"/>
			<div class="form-group">	
				<label class="col-sm-3 control-label">合同编号：</label>
				<div class="col-sm-8">
					<input id="contractNumber" name="contractNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">合同名称：</label>
				<div class="col-sm-8">
					<input id="contractName" name="contractName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">承租项点名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="rentName" onclick="selectRentTree()" readonly="true" id="treeName">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">合同履行保证金（元）：</label>
				<div class="col-sm-8">
					<input id="margin" name="margin" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第一年合同金额：</label>
				<div class="col-sm-8">
					<input id="firstValue" name="firstValue" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">租金支付方式：</label>
				<div class="col-sm-8">
					<select id="payment" name="payment" class="form-control m-b" th:with="type=${@dict.getType('sys_contract_payment')}">
						<option th:each="dict : ${type}" th:text="${dict['dictLabel']}" th:value="${dict['dictValue']}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">经办部门：</label>
				<div class="col-sm-8">
					<input id="department" name="department" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">经办人：</label>
				<div class="col-sm-8">
					<input id="agent" name="agent" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第二年合同金额：</label>
				<div class="col-sm-8">
					<input id="secondValue" name="secondValue" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第三年合同金额：</label>
				<div class="col-sm-8">
					<input id="thirdValue" name="thirdValue" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第四年合同金额：</label>
				<div class="col-sm-8">
					<input id="forthValue" name="forthValue" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第五年合同金额：</label>
				<div class="col-sm-8">
					<input id="fifthValue" name="fifthValue" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">合同扫描件：</label>
				<div class="col-sm-8">
					<input id="file" name="file" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">合同签订时间：</label>
				<div class="col-sm-8">
					<input class="time form-control" id="startTime" name="beginTime" placeholder="请选择开始时间" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">合同状态：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
						<input type="checkbox" th:checked="true" class="onoffswitch-checkbox" id="status" name="status">
						<label class="onoffswitch-label" for="status">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "system/contract"
		$("#form-contract-add").validate({
			rules:{
                secondValue:{
                    required:true,
                },
                firstValue:{
                    required:true,
                },
                thirdValue:{
                    required:true,
                },
                forthValue:{
                    required:true,
                },
                fifthValue:{
                    required:true,
                },
                rentName:{
                    required:true,
                },

			},
            submitHandler: function(form) {
                add();
            }
        });
        function add() {
            var id= $("input[name='id']").val();
            var contractNumber = $("input[name='contractNumber']").val();
            var contractName = $("input[name='contractName']").val();
            var rentName = $("input[name='rentName']").val();
            var margin = $("input[name='margin']").val();
            var payment = $("#payment option:selected").val();
            var firstValue = $("input[name='firstValue']").val();
            var department = $("input[name='department']").val();
            var agent = $("input[name='agent']").val();
            var secondValue = $("input[name='secondValue']").val();
            var thirdValue = $("input[name='thirdValue']").val();
            var forthValue = $("input[name='forthValue']").val();
            var fifthValue = $("input[name='fifthValue']").val();
            var file = $("input[name='file']").val();
            var beginTime = $("input[name='beginTime']").val();
            var status = $("input[name='status']").is(':checked') == true ? 0 : 1;
            var rentId = $("input[name='rentId']").val();

            $.ajax({
                cache : true,
                type : "POST",
                url : ctx + "system/contract/add",
                data : {
                    "id": id,
                    "contractNumber": contractNumber,
                    "contractName": contractName,
                    "rentName": rentName,
                    "margin": margin,
                    "payment": payment,
                    "firstValue": firstValue,
                    "department": department,
                    "agent": agent,
                    "secondValue": secondValue,
                    "thirdValue": thirdValue,
                    "forthValue": forthValue,
                    "fifthValue": fifthValue,
                    "file": file,
                    "beginTime": beginTime,
                    "status":status,
                    "rentId": rentId,
                },
                async : false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    $.operate.saveSuccess(data);
                }
            });
        }
        /*承租项点管理-新增-选择承租项点名称*/
        function selectRentTree() {
            var treeId = $("#treeId").val();
            var rentId = treeId == null || treeId == "" ? "1" : treeId;
            var url = ctx + "system/rent/selectRentTree/" + rentId;
            $.modal.open("选择承租项点名称", url, '380', '380');
        }
	</script>
</body>
</html>
