<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-contract-edit" th:object="${contract}">
        <input id="id" name="id" th:field="*{id}"  type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">合同编号：</label>
            <div class="col-sm-8">
                <input id="contractNumber" name="contractNumber" readonly="readonly" th:field="*{contractNumber}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同名称：</label>
            <div class="col-sm-8">
                <input id="contractName" name="contractName" readonly="readonly" th:field="*{contractName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">承租项点名称：</label>
            <div class="col-sm-8">
                <input id="rentName" name="rentName" readonly="readonly" th:field="*{rentName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同履行保证金（元）：</label>
            <div class="col-sm-8">
                <input id="margin" name="margin" readonly="readonly" th:field="*{margin}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">第一年合同金额：</label>
            <div class="col-sm-8">
                <input id="firstValue" name="firstValue" readonly="readonly" th:field="*{firstValue}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">租金支付方式：</label>
            <div class="col-sm-8">
                <select id="payment" name="payment" disabled="disabled" class="form-control m-b" th:with="type=${@dict.getType('sys_contract_payment')}">
                    <option th:each="dict : ${type}"   th:text="${dict['dictLabel']}" th:value="${dict['dictValue']}" th:field="*{payment}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">经办部门：</label>
            <div class="col-sm-8">
                <input id="department" name="department" readonly="readonly" th:field="*{department}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">经办人：</label>
            <div class="col-sm-8">
                <input id="agent" name="agent" readonly="readonly" th:field="*{agent}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">第二年合同金额：</label>
            <div class="col-sm-8">
                <input id="secondValue" readonly="readonly" name="secondValue" th:field="*{secondValue}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">第三年合同金额：</label>
            <div class="col-sm-8">
                <input id="thirdValue" readonly="readonly" name="thirdValue" th:field="*{thirdValue}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">第四年合同金额：</label>
            <div class="col-sm-8">
                <input id="forthValue" readonly="readonly" name="forthValue" th:field="*{forthValue}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">第五年合同金额：</label>
            <div class="col-sm-8">
                <input id="fifthValue" readonly="readonly" name="fifthValue" th:field="*{fifthValue}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同扫描件：</label>
            <div class="col-sm-8">
                <input id="file" name="file" readonly="readonly" th:field="*{file}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同签订时间：</label>
            <div class="col-sm-8">
                <input class="time form-control" readonly="readonly" id="startTime" name="beginTime" placeholder="请选择开始时间" th:field="*{beginTime}"  type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同终止情况备注：</label>
            <div class="col-sm-8">
                <input id="terminationRemark" name="terminationRemark" th:field="*{terminationRemark}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">租金无法如期收取备注：</label>
            <div class="col-sm-8">
                <input id="paymentRemark" name="paymentRemark" th:field="*{paymentRemark}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">法律纠纷备注：</label>
            <div class="col-sm-8">
                <input id="lawRemark" name="lawRemark" th:field="*{lawRemark}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">其他情况备注：</label>
            <div class="col-sm-8">
                <input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同状态：</label>
            <div class="col-sm-8">
                <div class="onoffswitch">
                    <input type="checkbox" onclick="return false" th:checked="${contract.status == '0' ? true : false}" class="onoffswitch-checkbox" id="status" name="status">
                    <label class="onoffswitch-label" for="status">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-control-static col-sm-offset-9">
                <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
</body>
</html>
